<div ng-include="'view/header.html'"></div>
<div ng-include="'view/menu.html'"></div>
<div>
	<div class="alert alert-success" role="alert">Novo cadastro de período escolar</div>
<div>
<div>
	<form name="periodoForm">
		<input class="form-control" type="text" ng-model="periodo.periodoNome" name="periodoNome" ng-required="true" placeholder="Insira o ano letivo para cadastrar"/>
	</form>	
	<hr/>
	<button class="btn btn-danger btn-block"  ng-click="adicionarPeriodo(periodo)" ng-disabled="periodoForm.$invalid">Adicionar</button>
</div>