<div class="jumbotron">
	<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
	<table ng-show="turmas.length > 0" class="table table-striped">
		<tr>
			<th></th>			
			<th><a href="" ng-click="ordenarPor('nome')">Escola</a></th>
			<th><a href="" ng-click="ordenarPor('nome')">Ano letivo</a></th>
			<th><a href="" ng-click="ordenarPor('nome')">Turma</a></th>
			<th><a href="" ng-click="ordenarPor('nome')">Período</a></th>			
		</tr>
		
		<tr ng-class="{'selecionado negrito': turma.selecionado}" ng-repeat="turma in turmas | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
			
			<td><input type="checkbox" ng-model="turma.selecionado"/></td>			
			<td><a href="#/turmaEdit/{{turma.turmaId}}">{{turma.escola.escolaNome}}</a></td>			
			<td><a href="#/turmaEdit/{{turma.turmaId}}">{{turma.ano.anoNome}}</a></td>			
			<td><a href="#/turmaEdit/{{turma.turmaId}}">{{turma.turmaNome}}</a></td>			
			<td><a href="#/turmaEdit/{{turma.turmaId}}">{{turma.periodo.periodoNome}}</a></td>			
		
		</tr>
	</table>
	<hr/>
	<a class="btn btn-primary btn-block" href="#/turmaNew">Adicionar</a>
	<button class="btn btn-danger btn-block" ng-click="apagarTurmas(turmas)" ng-disabled="!isTurmasSelecionado(turmas)">Apagar</button>
</div>