<div ng-include="'view/header.html'"></div>
<div ng-include="'view/menu.html'"></div>
<div>
	<div class="alert alert-success" role="alert">Nova solicitação de vaga</div>
<div>
<div>
	<form name="inscritoForm">
		<select class="form-control" ng-model="inscrito.aluno" ng-options="aluno as aluno.nome for aluno in alunos">
			<option value="">Selecione um aluno</option>
		</select> 
		<select class="form-control" ng-model="inscrito.turma" ng-options="turma as turma.turmaNome for turma in turmas">
			<option value="">Selecione uma turma</option>
		</select> 
		<select class="form-control" ng-model="inscrito.status" ng-options="statusOne as statusOne.statusNome for statusOne in status">
			<option value="">Selecione a situação</option>
		</select>		
		<input type="checkbox" class="form-control"  placeholder="Mãe trabalhadoura">Mãe trabalhadora</input>
		 		 
		<select class="form-control" id="exampleFormControlSelect1">
			<option value="">Selecione o número de filhos</option>
			<option>0</option>
			<option>1</option>
		    <option>2</option>
		    <option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
		<input class="form-control" type="text" name="renda" ng-required="true" placeholder="Insira a renda familiar"/>
			  
		
	</form>	
	<hr/>
	<button class="btn btn-danger btn-block"  ng-click="adicionarInscrito(inscrito)" ng-disabled="inscritoForm.$invalid">Adicionar</button>
</div>