<div ng-include="'view/header.html'"></div>
<div ng-include="'view/menu.html'"></div>
<div>
	<div class="alert alert-success" role="alert">ACESSO</div>
<div>

<div class="row">
	<div ng-if="!scope.msg">
		<div class="alert alert-success" role="alert"><center>{{msg}}</center></div>
	</div>
	
	<form name="loginForm" class="loginForm">
		<input class="form-control col-md-1" type="text" ng-model="login.login" name="login" ng-required="true" placeholder="login"/>
		<input class="form-control col-md-1" type="text" ng-model="login.senha" name="senha" ng-required="true" placeholder="senha"/>
	</form>	
	<center>
	<button class="btn btn-danger  loginForm"  ng-click="autenticar2(login)" ng-disabled="loginForm.$invalid">Acessar</button>
	
	<button class="btn btn-warning  loginForm "  ng-click="" ng-disabled="loginForm.$invalid">Esqueci minha senha</button>
</center>
</div>
