<div ng-include="'view/header.html'"></div>
<div ng-include="'view/menu.html'"></div>
<div>
	<div class="alert alert-success" role="alert">Novo cadastro de ano letivo escolar </div>
<div>
<div>
	<form name="anoLetivoForm">
		<input class="form-control" type="text" ng-model="anoLetivo.anoNome" name="anoNome" ng-required="true" placeholder="Insira o ano letivo para cadastrar"/>
	</form>	
	<hr/>
	<button class="btn btn-danger btn-block"  ng-click="adicionarAnoLetivo(anoLetivo)" ng-disabled="!anoLetivoForm.$invalid">Adicionar</button>
</div>