
	<nav class="navbar navbar-inverse">
	    <div class="container-fluid">
	    	<ul class="nav navbar-nav">
				<li class="active"><a href="#/">Início</a></li>
				<li><a href="#escolas">Escolas</a></li>
				<li><a href="#alunos">Alunos</a></li>
				<li><a href="#turmas">Turmas</a></li>
				<li><a href="#periodos">Período</a></li>
				<li><a href="#anoLetivo">Ano Letivo</a></li>
				<li><a href="#inscritos">Inscrição</a></li>		
				<li><a href="#status">Situação</a></li>	
				<li><a href="#painel">Painel</a></li>			
				<li><a href="#login">Login</a></li>
		    </ul>
	    </div>
	</nav>
