<div ng-include="'view/header.html'"></div>
<div ng-include="'view/menu.html'"></div>
	<div class="jumbotron">
			<div class="alert alert-success" role="alert">Atualizar cadastro da unidade escolar </div>
	<div>
<div class="jumbotron">
	<form name="escolaForm">
		<input class="form-control" type="text" ng-model="escola.escolaNome" name="escolaNome" ng-required="true" value="escola.escolaNome" placeholder="Insira o nome da nova escola para cadastrar"/>
	</form>	
	<hr/>
	<button class="btn btn-danger btn-block"  ng-click="saveEscola(escola)" ng-disabled="escolaForm.$invalid">Salvar</button>
</div>